.sidebar {
  /* position: fixed; */
  top: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 250px;
  z-index: 600;
  font-weight: 500;
}
